{:lint-as {clj-rest-api.test-helper.core/with-system clojure.core/with-open
           clojure.test.check.clojure-test/defspec clojure.test/deftest
           clojure.test.check.properties/for-all clojure.core/for}
 :linters {:unresolved-namespace {:exclude []}}}
